:root {
  --headcolor: #fff;
  --bgcolor: #fffef7;
  --main-headcolor: #faa088;
}
body {
  background-color: var(--bgcolor);
}

.attendence {
  h1 {
    background-color: var(--main-headcolor);
  }
  td,
  th {
    border: 2px solid green;
    /* min-width: 30vw; */
    margin-bottom: 200px;
    height: 50px;
  }
  .subject {
    min-width: 20vw;
  }
  .attended,
  .missed {
    min-width: 20vw;
  }
  .table-box {
    margin: auto;
    border-spacing: 20px;
  }
  td > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  td > div > span {
    padding: 0px 5px;
  }
  th {
    background-color: var(--headcolor);
    border-radius: 20px;
    box-shadow: 10px 10px 14px rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    margin-top: 20%;
  }
  .table-box {
    border: 2px solid brown;
  }
  button {
    background-color: var(--main-headcolor);
    padding: 20px;
    font-size: 30px;
    margin: 30px;
    font-weight: bolder;
    border-radius: 50px;
    border-color: brown;
  }
  .conclusion {
    font-size: 30px;
    font-weight: bold;
  }
}
